.right-floating-bar{
    position: fixed;
    top: 10%;
    right: 12px;
    min-width: 12%;
    z-index: 1000;
    background-color: var(--g-color-base-float);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--g-color-sfx-shadow);
    padding: var(--g-spacing-3);
}
